<!-- Hero Header Containing NavBar and Intro Elements -->
<header class="hero">
 <app-header></app-header>
  <!-- Intro Content -->
  <section class="columns is-gapless is-centered has-text-centered intro">
   <!-- Cupfindr Logo and Slogan -->
    <div class="column is-half has-text-centered">
      <h1 class= "is-hidden-mobile has-text-warning">CUPFINDR</h1>
        <div class="logox is-hidden-mobile"><img src="assets/img/xmrksptred.png"></div>
        <div class="short-rule has-background-warning"></div>
        <p class="slogan">Celebrating the Social Culture of Coffee</p>
    </div>
    <!-- Mobile App MockUp -->
    <div class="column is-half">
      <img src="assets/img/coffeeprofile.png" class="phone">
    </div>
    <!-- Mobile Sign in Buttons on HP -->
    <div class="buttons is-hidden-tablet is-centered">
      <a class="button is-primary is-medium" routerLink="/signup">
          <strong>Sign up</strong>
      </a>
      <a class="button is-light is-medium" routerLink="/login">
          Log in
      </a>
    </div>
  </section>
</header>

<!-- About Section -->
<section class="section has-background-grey-lighter" id="about">
  <h3 class="title is-3 has-text-centered sectit">Cupfindr is an app that expands your coffee world.</h3>
  <div class="columns">
    <div class="column is-flex is-centered has-text-centered">
      <h3 class="title is-3">Explore</h3>
      <img src="../../../assets/img/explorelogo.png" class="edc">
      <p>Explore what's popular in coffee culture and how to 
         enhance your coffee experience.</p>
    </div>
    <div class="column is-flex is-centered has-text-centered">
      <h3 class="title is-3 middle">Discover</h3>
      <img src="../../../assets/img/discoverlogo.png" class="edc">
      <p>Discover a variety of coffees that you enjoy.
      </p>
    </div>
    <div class="column is-flex is-centered has-text-centered">
      <h3 class="title is-3">Connect</h3>
      <img src="../../../assets/img/connectlogo.png" class="edc">
      <p>Connect with friends to share different cups you enjoy and keep a list
         of your favorites. Check your feed to stay in the loop with events at 
         local coffee shops.
      </p>
    </div>
  </div>
</section>

<div class="field has-addons is-marginless">
  <div class="control has-icons-left is-expanded">
    <input class="input is-large" type="search" placeholder="Find a Coffee, Roaster, or Cafe">
    <span class="icon is-medium is-left">
      <fa-icon icon="search"></fa-icon>
    </span>
  </div>
  <div class="control">
    <a class="button is-info is-large">
      Search
    </a>
  </div>
</div>

<footer class="footer">
  <div class="columns">
    <div class="column is-paddingless">
      <h1 class="title is-1 has-text-warning">
        CUPFINDR</h1>
    </div>
    <div class="column is-paddingless">
      <h4 class="title is-4 has-text-white">Company</h4>
      <ul>
        <li><a>About Us</a></li>
        <li><a>Cupfindr For Business</a></li>
        <li><a>Blog</a></li>
        <li><a>Support</a></li>
      </ul>
    </div>
    <div class="column is-paddingless">
      <h4 class="title is-4 has-text-white">Get The APP</h4>
      <ul>
        <li><a>Download for iOS</a></li>
        <li><a>Download for Android</a></li>
      </ul>
    </div>
  </div>
</footer>

