<header class="hero">
    <app-header></app-header>
    <div class="flexcontainer">
    <div class="business-sec">
        <div class="biz content manage">
          <img src="../../../assets/img/managelogo.png">
          <h2>MANAGE</h2>
          <p>Manage your rotation and let customers know what you're roasting
             and serving.
          </p>
        </div>
        <div class="biz content promote">
          <img src="../../../assets/img/promotelogo.png">
          <h2>PROMOTE</h2>
          <p>Have an upcoming event?
             Looking for perfomers and an audience?<br>
             Use Cupfindr to promote your business events so customers
             can socialize!
          </p>
        </div>
        <div class="biz content reach">
          <img src="../../../assets/img/reachlogo.png">
          <h2>REACH</h2>
          <p>Reach new customers. Let customers review your roasts on
             the app and make recommendations to friends.
          </p> 
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="title is-5 is-spaced">Add your business to Cupfindr and list your roasts to reach 
              new customers.
          </p>
          <button class="button is-medium is-fullwidth is-link" routerLink="/signup">
              Join</button>
        </div>
      </div>
    </div>
</header>
