<div class="hero">
    <app-header></app-header>
    <div class="box centered">
  
      <h1 class="title has-text-primary">SIGN UP</h1>
      
      <div class="field">
          <input #emailInput class="input has-background-light" type="email" placeholder="Email">
      </div>
      <div class="field">
          <input #pwInput class="input has-background-light" type="password" placeholder="Password">
      </div>
      <div class="field">
          <button class="button is-success is-fullwidth has-text-white" (click)="onSignupButtonClicked(emailInput.value, pwInput.value)">
            SIGN UP
          </button>
      </div>
      <br>
  
      <p class="has-text-grey">Already have an account? <a routerLink="/login">Login</a> now!</p>
  
    </div>
  </div>
